<div class="footer">

	<!--<img src="images/1.gif">
	<img src="images/2.png">
	<img src="images/3.jpg">
	<img src="images/4.jpg">
	<img src="images/5.gif">
	<img src="images/red.jpg">
	<img src="images/7.png">
	<img src="images/8.jpg">
	<img src="images/9.jpg">-->

	<span>© 2016 ModularCode</span>
	<div class="soc-icon">
		<div class="soc-icon-top">
			<div class="hexagon hexagon-fb">
				<i class="fa fa-facebook-f"></i>
			</div>
			<div class="hexagon hexagon-tw">
				<i class="fa fa-twitter"></i>
			</div>
			<div class="hexagon hexagon-bb">
				<i class="fa fa-bitbucket"></i>
			</div>
		</div>
		<div class="soc-icon-bottom">
			<div class="hexagon hexagon-gp">
				<i class="fa fa-google-plus"></i>
			</div>
			<div class="hexagon hexagon-gh">
				<i class="fa fa-github"></i>
			</div>
		</div>
	</div>
</div>