<div class="footer">
	<span>© 2016 ModularCode</span>
	<div class="soc-icon">
		<div class="soc-icon-top">
			<div class="hexagon hexagon-fb">
				<i class="fa fa-facebook-f"></i>
			</div>
			<div class="hexagon hexagon-tw">
				<i class="fa fa-twitter"></i>
			</div>
			<div class="hexagon hexagon-bb">
				<i class="fa fa-bitbucket"></i>
			</div>
		</div>
		<div class="soc-icon-bottom">
			<div class="hexagon hexagon-gp">
				<i class="fa fa-google-plus"></i>
			</div>
			<div class="hexagon hexagon-gh">
				<i class="fa fa-github"></i>
			</div>
		</div>
	</div>
</div>