<footer class="footer">
	<div class="soc-icons">
		<div class="soc-icons-top">
			<a href="https://web.facebook.com/modularcode" target="_blank" class="hexagon hexagon-fb">
				<i class="fa fa-facebook-f"></i>
			</a>
			<a href="https://twitter.com/ModularCoder" target="_blank" class="hexagon hexagon-tw">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="https://www.linkedin.com/in/modularcoder" class="hexagon hexagon-bb">
				<i class="fa fa-linkedin"></i>
			</a>
		</div>
		<div class="soc-icons-bottom">
			<a href="https://angel.co/modularcoder" target="_blank" class="hexagon hexagon-gp">
				<i class="fa fa-angellist"></i>
			</a>
			<a href="https://github.com/modularcode" target="_blank" class="hexagon hexagon-gh">
				<i class="fa fa-github"></i>
			</a>
		</div>
	</div>
	<div>
		<span>© 2016 ModularCode</span>
	</div>
</footer>