<header class="header">
    <nav class="tabs">   
        <ul>
            <li class="left-navs">
                <a href="#services">
                    <span>Services</span>
                </a>
            </li>
            <li class="left-navs">
                <a href="#projects">
                    <span>Open Source Projects</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="logo" src="images/logo_revert.png">
                </a>
            </li>
            <li class="right-navs">
                <a href="#portfolio">
                    <span>Portfolio</span>
                </a>
            </li>
            <li class="right-navs">
                <a href="#team">
                    <span>Team</span>
                </a>
            </li>
            <li class="right-navs">
                <a href="#contacts">
                    <span>Contacts</span>
                </a>
            </li>
        </ul>
    </nav>
</header>