<header class="header">
    <nav class="navigation">   
        <ul class="navigation-menu">

            <li class="navigation-item navigation-left-item">
                <a href="/#services" data-scrollto="services">
                    <span>Services</span>
                </a>
            </li>

            <li class="navigation-item navigation-left-item">
                <a href="/#projects" data-scrollto="projects">
                    <span>Open Source Projects</span>
                </a>
            </li>

            <li class="navigation-item navigation-logo">
                <a href="/#">
                    <img class="logo" src="images/logo_revert.png">
                </a>
            </li>

            <li class="navigation-item navigation-right-item">
                <a href="#portfolio" data-scrollto="portfolio">
                    <span>Portfolio</span>
                </a>
            </li>

            <li class="navigation-item navigation-right-item">
                <a href="#team" data-scrollto="team">
                    <span>Team</span>
                </a>
            </li>

            <li class="navigation-item navigation-right-item">
                <a href="#contacts" data-scrollto="contacts">
                    <span>Contacts</span>
                </a>
            </li>

        </ul>
    </nav>
</header>