<header class="header">
    <nav class="navigation"> 

        <div class="navigation-phone-toggle">
            <div class="logo-block">
                <a href="/#">
                    <img class="logo" src="images/logo_revert.png">
                </a>
            </div> 

            <div class="navigation-toggle-block">
                <a class="navigation-toggle navbar-toggler" href="#" data-toggle="collapse" data-target="#headerMenu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="navbar-toggleable-sm collapse" id="headerMenu">
            <ul class="navigation-menu">

                <li class="navigation-item navigation-left-item">
                    <a href="/#services" data-scrollto="services">
                        <span>Services</span>
                    </a>
                </li>

                <li class="navigation-item navigation-left-item">
                    <a href="/#projects" data-scrollto="projects">
                        <span>Projects</span>
                    </a>
                </li>

                <li class="navigation-item navigation-logo">
                    <a href="/#">
                        <img class="logo" src="images/logo_revert.png">
                    </a>
                </li>

                <li class="navigation-item navigation-right-item">
                    <a href="/#portfolio" data-scrollto="portfolio">
                        <span>Portfolio</span>
                    </a>
                </li>

                <li class="navigation-item navigation-right-item">
                    <a href="/#contacts" data-scrollto="contacts">
                        <span>Contacts</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>
