.header {	
	background-color: #4d83b9;
	height: 200px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.4s ease;
	width: 100%;
	z-index: 4;

	@media #{$xs} {
		height: 65px;
		background-color: #9ab9d5;	
	}

	.navigation {
		margin: auto;
		width: 100%;

		.navigation-phone-toggle {
			display: none;
			width: 100%;
			padding: 15px;

			.logo-block {
				width: 30%;
				float: left;

				.logo {
					height: 40px;
				}
			}

			.navigation-toggle-block {
				width: 70%;
				float: left;
				text-align: right;

				.navigation-toggle {
					font-size: 30px;
					color: #ffffff;
					padding: 5px 0;
					display: block;
				}
			}

			@media #{$xs} {
				display: block;
				height: 65px;
			}
		}

		.navigation-menu {
			list-style: none;
			margin-bottom: 0;
			padding-left: 0;
			display: block; 
			text-align:center; 

			.navigation-item {
				display: inline-block; 
				
				a {
					color: #ffffff;
					font-size: 24px;
					font-weight: 200;
					line-height: 200px;
					text-decoration: none;
					transition: all 0.4s ease;
				}

				.logo {
					height: 100px;
					transition: all 0.4s ease;
				}

				&.navigation-left-item {
					padding-right: 120px;
				}

				&.navigation-right-item {
					padding-left: 120px;
				}
			}

			@media #{$md} {
				.navigation-item {
					&.navigation-left-item {
						padding-right: 100px;
					}

					&.navigation-right-item {
						padding-left: 100px;
					}
				}
			}

			@media #{$sm} {
				.navigation-item {
					&.navigation-left-item {
						padding-right: 40px;
					}

					&.navigation-right-item {
						padding-left: 10px;
					}
				}
			}

			@media #{$xs} {
				text-align: left;
				background-color: rgba(51,90,128, 1);

				.navigation-item {
					display: block;
					width: 100%;
					padding-left: 20px !important;

					
					&.navigation-logo {
						display: none;
					}


					&.navigation-left-item {
						padding-right: 0px;
					}

					&.navigation-right-item {
						padding-left: 0px;
					}

					a {
						line-height: 45px;
					}
				}
			}
		}
	}

	&.header-fixed {
		background-color: rgba(51,90,128,0.95);
		height: 100px;
		position: fixed;
		width: 100%;

		.navigation {

			.navigation-menu {

				.navigation-item {

					a {
						line-height: 100px;

						@media #{$xs} {
							line-height: 45px;
						}
					}

					.logo {
						height: 50px;
						padding: 0 22px;
					}
				}
			}
		}

		@media #{$xs} {
			background-color: #9ab9d5;	
			height: 65px;
		}
	}
}