.header {	
	background-color: #4d83b9;
	height: 200px;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 0.4s ease;
	width: 100%;
	z-index: 4;

	.navigation {
		margin: auto;
		vertical-align: middle;
		width: 1063px;

		.navigation-menu {
			align-items: center;
			display: flex;
			list-style: none;
			margin-bottom: 0;
			padding-left: 0;

			.navigation-item {
				
				a {
					color: #ffffff;
					font-size: 24px;
					font-weight: 200;
					line-height: 200px;
					text-decoration: none;
					transition: all 0.4s ease;
				}

				.logo {
					height: 100px;
					transition: all 0.4s ease;
				}

				&.navigation-left-item {
					padding-right: 80px;
					text-align: left;
				}

				&.navigation-right-item {
					padding-left: 80px;
					text-align: right;
				}
			}
		}
	}

	&.header-fixed {
		background-color: rgba(51,90,128,0.95);
		height: 100px;
		position: fixed;
		width: 100%;

		.navigation {

			.navigation-menu {

				.navigation-item {

					a {
						line-height: 100px;
					}

					.logo {
						height: 50px;
						padding: 0 22px;
					}
				}
			}
		}
	}
}