.content {
	margin-top: 200px;

	.introduction {
		height: 350px;
		width: 100%;
		position: relative;

		.introduction-box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -60%);
			height: 100px;
			width: 900px;
			text-align: right;

			@media #{$md} {
				height: 80px;
				width: 700px
			}
		}

		.intro {
			background: url(../images/intro.png) center center no-repeat;
			background-size: contain;
			height: 100%;
			margin-bottom: 30px;
			width: 100%;
		}

		.description {
			color: #ffffff;
			font-size: 1.5em;
			font-weight: 300;
		}	

		@media #{$sm}{
			.introduction-box {
				height: 60px;
				width: 500px;
			}
		}

		@media #{$xs} {
			height: 500px;

			.introduction-box {
				width: 100%;
				padding: 0 10px;
			}
		} 
	}

	.services {
		font-family: "Open Sans", Open Sans, sans-serif;
		margin-bottom: 230px;
		text-align: center;

		.service-img {
			display: block;
			margin-bottom: 30px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.title-container {
			color: #ffffff;
			font-size: 1.5em;
			height: 90px;
			line-height: 90px;
						
			.service-title {
				display: inline-block;
				line-height: 30px;
				vertical-align: middle;
			}
		}

		.description-container {
			height: 60px;
			line-height: 60px;
			margin-bottom: 30px;

			.service-description {
				color: #d0d0d0;
				display: inline-block;
				font-size: 0.875em;
				line-height: 24px;
				vertical-align: middle;
			}
		}

		.service-price {
			color: #ffffff;
			font-size: 1.5em;
		}

		@media #{$md} {
			margin-bottom: 160px;
		}

		@media #{$sm} {
			margin-bottom: 100px;
		}

		@media #{$xs}  {
			margin-bottom: 0;
		}
	}

	.projects{
		color: #ffffff;
		font-weight: 200;

		.laptop {
			background: url(../images/laptop.png) center center no-repeat;
			background-size: contain;
			height: 555px;
			position: relative;

			.screen {
				bottom: 26%;
				left: 12.5%;
				position: absolute;
				right: 12.5%;
				top: 11%;
				
				.slide {
					position: absolute;
					width: 100%;
					height: 100%;
					background-size: contain;
					background-image: url(../images/modular-admin-slide.png);
					background-repeat: no-repeat;
				}
			}

			@media #{$md} {
				height: 452px;
			}

			@media #{$sm} {
				height: 338px;

				.screen {
					left: 25.5%;
					right: 25.5%;
				}
			}

			@media #{$xs} {
				height: 290px;
				background: none;
			}
		}

		/*.lap2 {
			height: 0;
			position: relative;
			padding-top: 25px;
			padding-bottom: 67.5%;

			.scr2 {
				background: url(../images/laptop.png) center center no-repeat;
				background-size: contain;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 6.1% 12.4% 19%;
			}
		}*/

		.text {
			margin-bottom: 100px;

			.project-title {
				font-size: 2.25em;
				font-weight: 200;
				margin-bottom: 50px;
			}

			.project-description {
				display: inline-block;
				margin-bottom: 70px;
			}

			.details-btn {
				border: 1px solid #ffffff;
				border-radius: 3px;
				color: #ffffff;
				display: inline-block;
				font-size: 1.17em;
				padding: 25px 70px;
				transition: all 0.4s ease;

				&:hover {
					background-color: #ffffff;
					color: #4d83b9;
				}
			}

			@media #{$sm}, #{$xs} {
				text-align: center;
			}
		}
	}

	.portfolio {
		background-color: #396c9f;
		margin-bottom: 280px;
		padding: 100px 0;
		
		.project-img {
			background-image: url('../images/screenful.png');
			background-position: 50% 50%;
			border: 10px solid rgba(26,43,60,0.95);
			border-radius: 50%;
			height: 350px;
			margin-bottom: 20px;
			width: 350px;
		}		
	}

	.contacts {
		margin-bottom: 100px;
		text-align: center;
		width: 100%;
			
		.form-group {
			margin-bottom: 30px;

			&.message-block {
				margin-bottom: 60px;
			}

			&.has-error {
				text-align: left;

				.has-error {
					font-size: 13px;
					color: #ffffff;
					font-weight: 200;
				}
			}
		}

		.submit-btn {
			border: 1px solid #ffffff;
			border-radius: 3px;
			color: #ffffff;
			display: inline-block;
			font-size: 1.17em;
			margin: auto;
			padding: 25px 70px;
			transition: all 0.4s ease;

			&:hover {
				background-color: #ffffff;
				color: #4d83b9;
			}
		}
	}
}
