.content {
	margin-top: 200px;

	.projects{

		.laptop {
			background-image: url(../images/laptop.png);
			min-height: 630px;
			background-repeat: no-repeat;

			.slider {
				padding: 37px 107px 158px 108px;
			}

			/*.laptop-top {
				height: 37px;
			}
			
			.laptop-bottom {
				height: 68px;
			}

			.laptop-middle{
				align-items: center;
				display: flex;
				height: 407px;

				.laptop-left {
					
				}

				.slider {
					height: 407px;
					width: 651px;
				}

				.laptop-right {
					
				}
			}*/
		}
	}
}