.content-single {
	background-color: #f7f7f7;
	min-height: 800px;

	.title {
		font-size: 48px;
		font-weight: 300;
		text-align: center;
	}

	.description {
		color: #000000;
	}

	.version {

		.version-title {

		}

		.version-description {

		}

		.features {
			list-style-type: none;
		}

		.buttons {

		}
	}
}